<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add GiftCard</title>

    <link rel="stylesheet" href="/css/add-category.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<head th:replace="fragments/commons::head"></head>

</head>
<body>

<header th:replace="fragments/commons::header"></header>

<main>

    <form id="addGiftForm" class="welcome add-offer-form">
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add GiftCard</span></h1>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">GiftCard Name</label>
            </div>
            <input type="text" id="name" name="name">
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="value" class="h4 mb-2">GiftCard Value</label>
            </div>
            <input type="text" id="value" name="value">
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info  mb-3">CREATE</button>
        </div>
    </form>

</main>
</body>


<script>
    document.getElementById('addGiftForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevents the default form submission

        const giftCardData = {
            name: document.getElementById('name').value,
            value: document.getElementById('value').value
        };

        fetch('/api/giftcards/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(giftCardData)  // Sends the data in JSON format
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = data.redirectUrl;  // Redirect to profile page
                } else {
                    alert("Error: " + data.message);
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>
</html>