<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>

    <link rel="stylesheet" href="/css/add-category.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<head th:replace="fragments/commons::head"></head>

</head>
<body>

<header th:replace="fragments/commons::header"></header>

<main>

    <form class="form" th:method="POST" th:action="@{/categories}" th:object="${createCategoryRequest}">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Category</span></h1>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Category Name</label>
            </div>
            <input type="text" class="form-control" id="name" name="name" th:field="*{name}"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="danger" style="font-size: 15px">Error Here</small>
            <small class="alert-warning" th:text="${categoryAlreadyExistMessage}"></small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info  mb-3">CREATE</button>
        </div>
    </form>

</body>
</html>