<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Your Game</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/add-game.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::header"></header>

<div class="container">
    <form class="register-form" th:method="POST" th:action="@{/games}" th:object="${createGameRequest}">

        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Game</span></h1>

        <div class="form-columns">

            <!-- Лява колона -->
            <div class="left-column">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{title}"/>
                    <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="danger" style="font-size: 15px">Error Here</small>
                    <small class="alert-warning" th:text="${gameAlreadyExistMessage}"></small>
                </div>

                <div class="form-group">
                    <label for="category_id">Category</label>
                    <select class="browser-default custom-select" id="category_id" name="category_id" th:field="*{category_id}">
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="storage">Storage (GB)</label>
                    <input type="text" class="form-control" id="storage" name="storage" th:field="*{storage}"/>
                    <small th:if="${#fields.hasErrors('storage')}" th:errors="*{storage}" class="danger" style="font-size: 15px">Error Here</small>
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="price" name="price" th:field="*{price}"/>
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="danger" style="font-size: 15px">Error Here</small>
                </div>

                <div class="form-group">
                    <label for="coverImage_url">Cover Image (URL)</label>
                    <input type="text" class="form-control" id="coverImage_url" name="coverImage_url" th:field="*{coverImage_url}"/>
                    <small th:if="${#fields.hasErrors('coverImage_url')}" th:errors="*{coverImage_url}" class="danger" style="font-size: 15px">Error Here</small>
                </div>

                <div class="form-group">
                    <label for="mainImg_url">Main Image (URL)</label>
                    <input type="text" class="form-control" id="mainImg_url" name="mainImg_url" th:field="*{mainImg_url}"/>
                    <small th:if="${#fields.hasErrors('mainImg_url')}" th:errors="*{mainImg_url}" class="danger" style="font-size: 15px">Error Here</small>
                </div>
            </div>

            <!-- Дясна колона (само Description) -->
            <div class="right-column">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" th:field="*{description}"></textarea>
                    <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="danger" style="font-size: 15px">Error Here</small>
                </div>
                <div class="form-group">
                    <label for="firstImage_url">First Image (URL)</label>
                    <input type="text" class="form-control" id="firstImage_url" name="firstImage_url" th:field="*{firstImage_url}"/>
                                        <small th:if="${#fields.hasErrors('firstImage_url')}" th:errors="*{firstImage_url}" class="danger" style="font-size: 15px">Error Here</small>
                </div>
                <div class="form-group">
                    <label for="secondImage_url">Second Image (URL)</label>
                    <input type="text" class="form-control" id="secondImage_url" name="secondImage_url" th:field="*{secondImage_url}"/>
                                        <small th:if="${#fields.hasErrors('secondImage_url')}" th:errors="*{secondImage_url}" class="danger" style="font-size: 15px">Error Here</small>
                </div>
                <div class="form-group">
                    <label for="thirdImage_url">Third Image (URL)</label>
                    <input type="text" class="form-control" id="thirdImage_url" name="thirdImage_url" th:field="*{thirdImage_url}"/>
                                        <small th:if="${#fields.hasErrors('thirdImage_url')}" th:errors="*{thirdImage_url}" class="danger" style="font-size: 15px">Error Here</small>
                </div>
                <div class="form-group">
                    <label for="fourthImage_url">Fourth Image (URL)</label>
                    <input type="text" class="form-control" id="fourthImage_url" name="fourthImage_url" th:field="*{fourthImage_url}"/>
                    <small th:if="${#fields.hasErrors('fourthImage_url')}" th:errors="*{fourthImage_url}" class="danger" style="font-size: 15px">Error Here</small>
                </div>
            </div>

        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-info mb-3">ADD GAME</button>
        </div>
    </form>
</div>

</body>
</html>
