<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>

    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/library.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>

<main>

    <header class="menu" th:replace="fragments/commons::header"></header>

    <div class="all-games">
        <h1>LIBRARY:</h1>
        <div class="games-container">
            <div class="game-card" th:each="game : ${user.purchasedGames}">
                <a><img th:src="${game.getGame().mainImg_url}" alt="Game Image"></a>
            </div>
        </div>
    </div>

    <div class="created-games">
        <h1>MY GAMES:</h1>
        <div class="games-container">
            <div class="game-card" th:each="game : ${user.games}" th:if="${game.owner.id == user.id}">
                <a><img th:src="${game.mainImg_url}" alt="Game Image"></a>
                <div class="buttons">
                    <form th:action="@{'/games/delete/' + ${game.id}}" th:method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" class="DELETE">REMOVE</button>
                    </form>
                    <form th:action="@{/games/edit/{id}(id=${game.id})}" th:method="get">
                        <button class="EDIT">EDIT</button>
                    </form>
                    <form th:action="@{'/games/' + ${game.id}}" th:method="get">
                        <button class="DETAILS">DETAILS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>