<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.username } + ' - Profile'"></title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>

<header class="menu" th:replace="fragments/commons::header"></header>

<div class="profile-container">
    <div class="profile-card">
        <div class="profile-header">
            <div class="profile-info">
                <img th:if="${user.img_url != null}" th:src="${user.img_url}" alt="Profile Picture" class="profile-picture">
            </div>
        </div>

        <div class="profile-details">
            <div class="detail-section">
                <div class="detail-item">
                    <span class="detail-icon">Username: </span>
                    <span class="detail-text" th:text="${user.username}"></span>
                </div>
                <div class="detail-item">
                    <span class="detail-icon">Email: </span>
                    <span class="detail-text" th:text="${user.email}"></span>
                </div>
                <div class="detail-item">
                    <span class="detail-icon">Balance: </span>
                    <span class="detail-text" th:text="${user.balance}"> </span>
            </div>
        </div>

        <div class="footer">
            <form th:action="@{/edit}">
                <button class="EDIT">Edit</button>
            </form>

            <form th:action="@{/giftcards/redeem}">
                <button class="redeem-gift-card">Redeem GiftCard</button>
            </form>


            <form th:action="@{/games/add}">
                <button class="add-game">Add Game</button>
            </form>
        </div>
    </div>
</div>

    <div class="admin-profile-container" th:if="${user.role.name() == 'ADMIN'}">
        <div class="admin-profile-card">
            <div class="admin-profile-header">
                <div class="admin-profile-info">
                    <h1>Admin</h1>
                </div>
            </div>

            <div class="admin-profile-details">
                <div class="detail-section">
                    <div class="detail-item">
                </div>

                <div class="admin-footer">
                    <form th:action="@{/categories/add}">
                        <button class="add-category">Add Category</button>
                    </form>

                    <form>
                        <button class="users">Users</button>
                    </form>

                    <form>
                        <button class="redeem-gift-card">Add GiftCard</button>
                    </form>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="script.js"></script>


</body>
</html>
