/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(84, 91, 98, 0.5), rgba(84, 91, 98, 0.3)), url(../img/background-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    margin: 0;
    overflow-y: auto;
}

.container {
    background: transparent;
    padding: 2rem;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    margin-top: -6em;
}

/* Заглавие */
h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.badge {
    font-family: "Permanent Marker", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

/* Две колони */
.form-columns {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

/* Лява колона */
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Дясна колона (само Description) */
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Форм група */
.form-group {
    text-align: left;
}

/* Labels */
label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-style: normal;
}

/* Input полета */
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 16px;
}

/* Специално за Description */
textarea {
    min-height: 200px;
    resize: none;
    width: 100%;
    height: 178.3%;
}

/* Submit бутон */
button {
    display: inline-block;
    color: black;
    background: white;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    width: 23%;
    cursor: pointer;
    margin-top: 2.3em;
}

button:hover {
    box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white, 0 0 200px white;
    transition: 0.5s;
}