/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0d1116 0%, #1a2a3a 50%, #0d1116 100%);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    text-align: center;
}

/* Заглавие */
span {
    font-size: 24px;
    font-family: "Permanent Marker", cursive;
    font-weight: 700;
    font-style: normal;
}

.badge {
    font-family: "Permanent Marker", cursive;
    background: linear-gradient(90deg, #06BFFF, #2D73FF);
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
}

/* Форм група */
.form-group {
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
}

small.danger {
    color: red;
    font-size: 15px;
}

/* Submit бутон */
button {
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    width: 55%;
    margin-top: 1.5em;
}
