/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1116;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    margin: 0;
}

.container {
    background: transparent;
    padding: 2rem;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    margin-top: -6em;
}

.register-form {
    height: 52em;
}

/* Заглавие */
h1, .badge {
    font-family: "Permanent Marker", cursive;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 40px;
}

.badge {
    font-size: 60px;
}

/* Две колони */
.form-columns {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.left-column, .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-column {
    gap: 16.2px;
}

/* Форм група */
.form-group {
    text-align: left;
}

/* Labels */
label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    font-family: "Permanent Marker", cursive;
    font-weight: 500;
    font-style: normal;
}

/* Input полета */
input, select, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 16px;
}

/* Специално за Description */
textarea {
    min-height: 200px;
    resize: none;
    height: 40%;
}

/* Submit бутон */
button {
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    width: 25%;
    margin-top: 1.5em;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}